{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}
<div class="">
    <form action="{{ path('create_vacances') }}" method="POST">
        <select name="user" id="user" class="">
            {% for unUtilisateur in tousLesUtilisateurs %}
            <option value="{{ unUtilisateur.id }}">
                {{ unUtilisateur.nom }}
                {{ unUtilisateur.prenom }}
            </option>
            {% endfor %}
        </select>
        <br>
        <div class=""> 
        <label for="date_debut" class="">date début :</label>
        <input type="date" name="date_debut" class="" id="date_debut">
        </div>
        <br>
        <div class="input-group flex-nowrap w-25 p-1.5"> 
        <label for="date_fin" class="input-group-text" id="addon-wrapping">date fin :</label>
        <input type="date" name="date_fin" id="date_fin" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
        <input type="submit" value="envoi" class="btn btn-outline-info">
    </form>
    <br>

    <table class="table table-striped table-hover w-50">
    <tr>
        <th>vacanceID</th>
        <th>userID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Demandé</th>
        <th>Validé</th>
        <th></th>
        <th>Option</th>
        <th></th>
        <th></th>
    </tr>
    {% for uneVacance in toutesLesVacances %}
    <tr>
        <td>{{ uneVacance.id }}</td>
        <td>
            {% for utilisateur in uneVacance.getUsers %} 
                {{ utilisateur.id }}
            {% endfor %}
        </td>
        <td>
            {% for utilisateur in uneVacance.getUsers %} 
                {{ utilisateur.nom }}
            {% endfor %}
        </td>
        <td>
            {% for utilisateur in uneVacance.getUsers %} 
                {{ utilisateur.prenom }}
            {% endfor %}
        </td>
        <td>
            {{ uneVacance.dateDebut|date("d/m/Y") }}
        </td>
        <td>
            {{ uneVacance.dateFin|date("d/m/Y") }}
        </td>
        <td>
            {% if uneVacance.attente == '1' %}
                <span>Oui</span>
                {% elseif uneVacance.attente == '0' %}
                    <span>Non</span>
            {% endif %}
        </td>
        <td>
            {% if uneVacance.autoriser == '1' %}
                <span>Oui</span>
                {% elseif uneVacance.autoriser == '0' %}
                    <span>Non</span>
            {% endif %}       
        </td>
        <td>
            <form action="{{ path('remove_vacance',{'id':uneVacance.id}) }}" method="POST"><button type="submit">supprimer</button></form>
        </td>
        <td>
            <form action="{{ path('modif_vacance',{'id':uneVacance.id}) }}" method="POST"><button type="submit">modifier</button></form>
        </td>
        <td>
            <form action="{{ path('autorise_vacance',{'id':uneVacance.id}) }}" method="POST"><button type="submit">Autoriser</button></form>
        </td>
        <td>
            <form action="{{ path('nonAutorise_vacance',{'id':uneVacance.id}) }}" method="POST"><button type="submit">Ne autoriser</button></form>
        </td>  
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}